@import url('/static/fonts/fonts.css');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 0.8em;
    background-color: white;
}

#preview {
    display: block;
    margin-top: 16px;
    background-color: #aed389;
}
