<!DOCTYPE html>
<html>
    <head>
        <title>iBoardBot</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1>iBoardBot Web</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <form enctype="multipart/form-data" method="POST" action="/">
            <h2>1: Datei wählen</h2>
            <input type="file" name="file">

            <h2>2: Konfigurieren</h2>
            <ul>
                <li>Skalieren: <input name="scale" type="number" value="100">%</li>
                <li>Verschieben in X: <input name="translate-x" type="number" value="0"></li>
                <li>Verschieben in Y: <input name="translate-y" type="number" value="0"></li>
            </ul>

            {% if preview %}
            <h2>3: Vorschau</h2>
            <input type="submit" value="Aktualisieren">
            {% else %}
            <h2>3: Ready?</h2>
            <input type="submit" value="Vorschau">
            {% endif %}
        </form>

        {% if preview %}
            <div id="preview">
                <img alt="Preview" src="{{ preview }}">
            </div>
        {% endif %}
        <footer>
            Software by <a href="https://dbrgn.ch/">Danilo Bargen</a>
        </footer>
    </body>
</html>
